/* ==== GOOGLE FONTS ==== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap');

:root{

    --primary-color: #ffff;
    --primary-color-dark: #000;
    --second-color:	#654d99;
    --second-color-dark: #463669;

    --grey-color: #A5AAA4;
    --grey-color-dark: #4c4b4e;

    --font-normal:300;
    --font-normal-1:400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-black: 900;

    --font-size-small: 1em;
    --font-size-medium: 2em;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

section{
    padding: 100px;
}

/* ==== HEADER==== */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    z-index: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
}

header.sticky{
    background: var(--primary-color);
    padding: 10px 90px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.130);
}

header .logo{
    color: var(--primary-color);
    font-weight: var(--font-semi-bold);
    font-size: var(--font-size-medium);
    text-decoration: none;
}

header.sticky .logo{
    color: var(--primary-color-dark);
}

header .logo span{
    color: var(--second-color);
}

header .navigation{
    position: relative;
    display: flex;
}

header .navigation li{
    list-style: none;
    margin-left: 30px;
}

header .navigation li a{
    font-size: 19px;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: var(--font-normal);
    position: relative
}

header.sticky li a{
    color: var(--primary-color-dark);
}

ul li a::after{
    content: "";
    height: 2.5px;
    width: 0;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--second-color);
    transition: .3s;
}

ul li a:hover::after{
    width: 60%;
}

.icon{
    display: none;
}

/* ==== SECTION BANNER ==== */

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/background.jpg');
    background-size: cover;
}

.banner .content{
    max-width: 900px;
    text-align: center;
}

.banner .content h2{
    font-size: 7em;
    color: var(--primary-color);
}
.banner .content h3{
    font-size: 28px;
    font-weight: 500;
    color: var(--primary-color);
}

.banner .content p{
    font-size: 35px;
    font-weight: var(--font-semi-bold);
    color: var(--primary-color);
}

.btn{
    font-size: var(--font-size-small);
    background-color: transparent;    
    color: var(--primary-color);
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: .5s;
    border: 2px solid var(--primary-color);
}

.btn:hover{
    border: 2px solid var(--primary-color);
    background: var(--second-color-dark);
    color: var(--primary-color);
    letter-spacing: 3px;
}

.social-icons {
    position: absolute;
    right: 6.5%;
    bottom: 8%;
}

/* ==== SECTION ABOUT ==== */
.about{
    background-color: var(--grey-color-dark);
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row .col50{
    max-width: 900px;
    text-align: center;
}

.row .col50 p{
    font-size: 35px;
    font-weight: var(--font-semi-bold);
    color: var(--primary-color);
}

.titleTxt{
    font-size: 6em;
    color: var(--primary-color);
}

.titleTxt span{
    color: var(--second-color);
    font-weight: var(--font-semi-bold);
    font-size: 1.5em;
}

.row .col50 h3{
    font-size: 22px;
    font-weight: 500;
    color: var(--primary-color);
}


/* ==== SECTION PORTIFOLIO ==== */
.portifolio{
    background-color: var(--grey-color);
}

.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.portifolio .title p{
    font-size: 35px;
    font-weight: var(--font-semi-bold);
    color: var(--primary-color);
}


.portifolio .title h3{
    font-size: 22px;
    font-weight: 500;
    color: var(--primary-color);
}

.portifolio .content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
}

.portifolio .content .box{
    width: 450px;
    margin: 20px;
    border: 18px solid var(--grey-color);
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.322);
    transition: .3s;
}

.portifolio .content .box:hover{
    transform: scale(1.03)
}

.portifolio .content .box .imgBox{
    position: relative;
    width: 100%;
    height: 270px;
}

.portifolio .content .box .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portifolio .content .box .title{
    background-color: var(--grey-color);
}


/* ==== SECTION CONTACT ==== */

.contact{
    background-color: var(--grey-color-dark);
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col50 ion-icon{
    padding-top: 20px;
    margin: 10px;
    font-size: 35px;
    color: var(--primary-color);
}


/* ==== COPYRIGHT ==== */

.copyrightTxt{
    background: var(--grey-color-dark);
    padding: 8px 40px;
    border-top: 1px solid var(--second-color);
    text-align: center;
}

.copyrightTxt p{
    font-weight: var(--font-medium);
}

.copyrightTxt span{
    color: var(--second-color);
}

/* ==== RESPONSIVE ==== */

@media (max-width: 991px){

    header,
    header.stick{
        padding: 10px 20px;
    }


    header .icon{
        color: var(--primary-color);
    }

    header.sticky .icon{
        color: var(--primary-color-dark);
    }

    header .navigation{
        display: none;
    }

    header .navigation.active{
        width: 100%;
        height: calc(100% - 65px);
        position: fixed;
        top: 65px;
        left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: var(--primary-color);
    }

    header .navigation li{
        margin-left: 0;
    }

    header .navigation li a{
        text-decoration: none;
        color: var(--primary-color-dark);
        font-size: 1.4em;
        font-weight: var(--font-normal);
    }

    header .navigation li a:hover{
        color: var(--second-color);
    }
    
    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    .menuToggle.active{
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .icon{
        display: block;
        width: 35px;
        height: 35px;
    }

    section{
        padding: 20px;
    }

    .row{
        flex-direction: column;
    }

    .row .col50{
        position: relative;
        width: 100%;
    }

    .row .col50 .imgBox{
        height: 300px;
        margin-top: 20px;
    }

    .titleTxt{
        font-size: 4rem;
    }

    .portifolio .content{
        margin-top: 20px;
    }

    .portifolio  .content .box{
        margin: 10px;
    }

    .portifolio .content .box .imgBox{
        height: 260px;
    }

    .title{
        text-align: center;
    }

}

@media (max-width: 480px){

    .banner .content h2{
        font-size: 4rem;
        color: var(--primary-color);
    }
}

